@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fffaf3;
  background-color: #271d16;
}

.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: white;
}
.swiper {
  height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-size: 20px;
  --swiper-navigation-color: white;
}
